h1 {
    text-align: center;
    font-family: arial;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
}

h3 {
    text-align: center;
    font-family: arial;
    font-size: 24px;
}

h5 {
    text-align: center;
    font-family: arial;
}

p {
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

div {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 24px;
}

input {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 24px
}

red-border {
    border: 1px solid red
}

hr {
    border: 1px solid black
}

button {
    background-color: black;
    color: white;
    padding: 32px 64px;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    font-size: 100%;
    border: 1px solid white
}

button.close {
    background-color: white;
    color: red;
    float: right;
    padding: 2px 10px;
}

button.close:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.thumb {
    overflow:hidden;
}

.button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#grid {
    width: 80%;
    height: 100%;
    border: 1px solid #000;
    display: block;
    border:none;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.item {
    display: inline-block;
    width: 300px;
    border: 1px solid #000;
    border-radius: 12px;
    margin: 10px;
    position: relative;
    background-color: #fff;
}

.popup {
    display: block;
    width: 80%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 12px;
    margin: 10px;
    z-index: 1;
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    cursor: pointer;
}

.item:hover {
    display: inline-block;
    width: 300px;
    border: 2px solid #000;
    box-shadow: -5px 5px 5px grey;
    border-radius: 12px;
    margin: 9px;
    position: relative;
}

.item > iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    border: none;
}

.popupinner > iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    border: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black
}

#mainDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#errorDiv {
    border-radius: 10px;
    padding: 0.5% 1%;
    z-index: 1;
    display:inline-block;
    position: absolute;
    bottom: 1%;
    left: 28%;
    margin: 0 auto; 
    background-color: lightpink;
    border: 1px solid rosybrown;
    width: 40%;
    max-height: 33%;
    font-size: 12px;
}

#reset {
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 1%;
}

#colourDiv {
    z-index: 2;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

#liteButton {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: lightgray;
}

#liteButton:hover {
    color: gray;
}

label {
    display: inline-block;
    width: 200px;
}

input {
    width: 200px;
}
